# ignore auto-save and backup files
*~
\#*\#
\.\#*
auto-save-list/
projects
history
emacs/

# byte compiled files and other extension
*.elc
*.backup
*.swp
*.log
elpa/
transient/
smex-items
