# ignore auto-save and backup files
*~
\#*\#
\.\#*
auto-save-list/
projects

# ignore ELPA (reinstallable, no need to track it i guess)
elpa/

# ignore eshell directory fully
eshell/

# ignore my paths
lisp/paths.el

# byte compiled files and other extension
*.elc
*.backup
*.swp
*.log
